elasticsearch:
    url: http://localhost:9200

cassandra:
    keyspace: caliopen
    hosts:
        - 'localhost'
    consistency_level: 1

nats:
    hosts: localhost
    port: 4222

system:
    default_tags:
        -
            label: INBOX
            background: '#000000'
            color: black
        -
            label: SPAM
            background: '#AAAAAA'
            color: white
        -
            label: IMPORTANT
            background: '#FF0000'
            color: white
