@import '../../styles/common';
@import '../../styles/vendor/bootstrap_foundation-sites';

.m-import-contact-form {
  width: map-get($co-form__width, 'xlarge');

  &__file {
    @include flex-grid-row;
    min-height: $co-component__height;
    background: $co-color__fg__back--low;
    line-height: $co-component__height;
  }

  &__file-name {
    @include flex-grid-column(shrink);
    color: $co-color__fg__text;
    font-weight: 600;
  }

  &__file-size {
    @include flex-grid-column;
    text-align: right;
  }

  &__remove-button {
    @include flex-grid-size(shrink);
    margin-left: auto;
  }

  &__buttons {
    @include flex-grid-row;
    margin-top: $co-margin;
  }

  &__cancel,
  &__submit {
    @include flex-grid-column(shrink);
    line-height: $co-component__height;
  }

  &__submit {
    margin-left: auto;
  }
}
